@charset "utf-8";

header {
	background: #000000;
    font-size: 30px;
}
.title{
    color: #fff;
    font-family: 'RocknRoll One', sans-serif;
}
/*ヘッダーにカーソルを合わせるとポインターになる*/
header:hover { 
    cursor: pointer;
}
body{
    text-align: center;
    background-color: #CCFFFF;
}
.question-text{
    background: #FFFFCC	;
    border: 2px solid #000000;
}

/*開始ボタン*/
.btn {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
}
.btn--orange {
    color: #fff;
    background-color: #ff7f00;
}
.btn--radius {
    border-radius: 20px;
}
.btn:hover {
    opacity: 0.8;
}

/*質問文*/
.question-text {
    color: #333; /* 質問文の文字色を指定 */
    font-size: 18px; /* 質問文のフォントサイズを指定 */
    font-family: 'Fredoka One', cursive;
}

#Nextbutton {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: white;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
    background: #67c5ff;
}
#Nextbutton:hover {
    background: #99CCFF;
    color: white;
}

#Backbutton {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: white;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
    background: #67c5ff;
}
#Backbutton:hover {
    background: #99CCFF;
    color: white;
}

label{
    font-size: 20px;
}

/*診断結果文*/
r{
    font-size: 25px;
}
/*動物名*/
rr{
    font-size: 30px;
}
/*動物のテキスト*/
#animal-text{
    font-size: 16px;
}
   
